.dropdown.icon {
    float: right;
}
.dropdown.icon, .ui.selection.dropdown>.search.icon {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.2142em;
    top: .78571429em;
    right: 1em;
    z-index: 3;
    margin: -.78571429em;
    padding: .78571429em;
    opacity: .8;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

.default{
    border: solid 1px;
    width: 133px;
    border-radius: 8px;
    padding: 4px;
}


.menu {
    border: solid 1px;
    width: 133px;
    border-radius: 8px;
    padding: 4px;
}

.menu .item{
    padding:2px;
}

.item:nth-child(odd) {
    background: white;
}

.item:nth-child(even) {
    background: gray;
}

.item:focus{
    background: red;
}
